*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.background-image{
   
    
    background-size: 100vh;
    background-position: center;
    background-repeat: repeat;

}